# This workflows runs when
# 1. pull_request raised to trunk branch.
# 2. tag created on at_tools repository
name: at_libraries

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - trunk
  pull_request:
    branches:
      - trunk

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      # Install dependencies in at_contacts library
      - name: Install dependencies in at_contact
        working-directory: at_contact
        run: dart pub get

      # Run analyzer in at_contacts library
      - name: Analyze project source in at_contact
        working-directory: at_contact
        run: dart analyze

      # Install dependencies in at_lookup library
      - name: Install dependencies in at_lookup
        working-directory: at_lookup
        run: dart pub get

      # Run dart analyzer in at_lookup library
      - name: Analyze project source in at_lookup
        working-directory: at_lookup
        run: dart analyze

      # Install dependencies in at_server_status status
      - name: Install dependencies in at_server_status library
        working-directory: at_server_status
        run: dart pub get

      # Run dart analyzer in at_server_status library
      - name: Analyze project source in at_server_status library
        working-directory: at_server_status
        run: dart analyze
        
      # Install dependencies in at_onboarding_cli
      - name: Install dependencies in at_onboarding_cli
        working-directory: at_onboarding_cli
        run: dart pub get
      
      # Run dart analyzer in at_cli_onboarding
      - name: Run dart analyzer in at_onboarding_cli
        working-directory: at_onboarding_cli
        run: dart analyze
      
      #functional tests for at_onbaording_cli
      - name: add entry to hosts file
        run: echo echo "127.0.0.1    vip.ve.atsign.zone" | sudo tee -a /etc/hosts
        
      - name: Get functional test dependencies
        working-directory: at_onboarding_cli/functional_tests
        run: dart pub get
        
      - name: Start docker instance
        working-directory: at_onboarding_cli/functional_tests
        run: sudo docker-compose up -d
        
#       - name: Check for docker container readiness
#         working-directory: at_onboarding_cli/functional_tests
#         run: dart run check_docker_readiness.dart

      - name: ping
        run: ping -c 10 vip.ve.atsign.zone:64
        
      - name: run pkamLoad on docker-image
        run: sudo docker exec functional_tests_virtualenv_1 supervisorctl start pkamLoad
      
#       - name: Check test environment readiness
#         working-directory: at_onboarding_cli/functional_tests
#         run: dart run check_test_env.dart
        
      - name: run tests
        working-directory: at_onboarding_cli/functional_tests
        run: dart test --concurrency=1
        
      - name: kill docker image
        working-directory: at_onboarding_cli/functional_tests
        run: sudo docker-compose down
      
    
